node_modules/
debug.log
npm-debug.log
src/**/*.js
src/**/*.d.ts
!src/lib/typings.d.ts
!src/demo/typings.d.ts
!src/demo/systemjs.config.js
!src/demo/systemjs.config.lib.js
!**/*systemjs-angular-loader.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
.DS_Store
**/.DS_Store
*.iml
.idea/
!/src/lib/@types/codemirror-minified/index.d.ts
