<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <properties-group *ngIf="propertiesGroupModel" [propertiesGroupModel]="propertiesGroupModel" [form]="propertiesFormGroup"></properties-group>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="handleCancel()">Close</button>
  <button type="button" class="btn btn-default" (click)="handleOk()" [disabled]="okDisabled">OK</button>
</div>
