<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Spring Flo Sample</title>
	<link href="https://fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="/webjars/spring-flo/dist/spring-flo.css" rel="stylesheet" />
	<link href="css/sample.css" rel="stylesheet" />
  
  <script data-main="js/main" src="/webjars/requirejs/require.js"></script>
	</head>
	<body>
		<div id="header" class="header">
			Spring Flo Sample
		</div>
		<div id="flo-container">
			<flo-editor ng-cloak metamodel-service-name="SampleMetamodelService" render-service-name="SampleRenderService" editor-service-name="SampleEditorService" palette-size="170" 
			min-zoom="10" max-zoom="300" zoom-step="10" ng-init="canvasControls={zoom:true};">
				<div id="controls" class="controls">
					<button class="button" id="clearGraph" ng-click="flo.clearGraph()">Create New Flow</button>
					<!-- let's use the 'x' control on the nodes themselves when they are selected 
					<button class="button" id="deleteSelectedNode" ng-click="flo.deleteSelectedNode()">Delete Selected Node</button>
					 -->
					<button class="button" id="performLayout" ng-click="flo.performLayout(); flo.fitToPage();">Reset Layout</button>
					<button class="button" id="sync" ng-click="flo.updateTextRepresentation()">Synchronize</button>
					<button class="button" id="readOnly" ng-click="flo.readOnlyCanvas(!flo.readOnlyCanvas())" ng-class="{on:flo.readOnlyCanvas()}">Read-Only</button>
					<button class="button" id="noPalette" ng-click="flo.noPalette = !flo.noPalette" ng-class="{on:!flo.noPalette}">Palette</button>
					<button class="button" id="editor" ng-click="editor = !editor" ng-lcass="{on:editor}">{{editor ? 'TextArea' : 'Editor'}}</button>
					<!-- Defer to using zoom control on the canvas 
					<span class="button">
						<label>Zoom: </label>
			    		<input id="zoomInput" type="text" ng-model="flo.zoomPercent" ng-model-options="{ getterSetter: true, updateOn: 'blur change' }" size="3"></input>
			    		<label>%</label>
			    		<input type="range" ng-model="flo.zoomPercent" ng-model-options="{ getterSetter: true }" step="10" max="300" min="10" data-type="range" name="range" class="range"></input>
					</span>
					-->
					<span class="button">
						<label>Grid Size: </label>
			    		<input id="gridSizeInput" type="text" ng-model="flo.gridSize" ng-model-options="{ getterSetter: true, updateOn: 'blur change' }" size="2"></input>
			    		<label>pixels</label>
			    		<input type="range" ng-model="flo.gridSize" ng-model-options="{ getterSetter: true }" step="1" max="50" min="1" data-type="range" name="range" class="range"></input>
					</span>
				</div>
				<div class="flow-definition-container">
					<textarea ng-if="editor" dsl-editor="true" id="flow-definition" class="flow-definition"></textarea>
					<textarea ng-if="!editor" id="flow-definition" class="flow-definition" placeholder="Enter stream definition..." 
						ng-model="definition.text" ng-keyup="flo.scheduleUpdateGraphRepresentation(); $event.stopPropagation();" ng-blur="flo.enableSyncing(true)" ng-focus="flo.enableSyncing(false)"></textarea>
				</div>
			</flo-editor>
		</div>
	</body>
</html>
